@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~angularjs-toaster/toaster.scss";

html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.red {
  color: red;
}