<div class="container">
    <div class="page-header">
        User Management
    </div>
</div>
<form class="signin-page" name="registerForm" novalidate>
    <div class="row header">
        <div class="col-md-12 text-center">
            User Edit
        </div>
    </div>
    <div class="row form-group" ng-class="{'has-error': !registerForm.name.$pristine && !registerForm.name.$valid}">
        <div class="col-md-2 control-label">
            Name<span class="red">*</span>
        </div>
        <div class="col-md-10">
            <input type="text" ng-model="registerModel.name" required name="name" class="form-control">
            <div class="text-danger" ng-show="registerForm.name.$dirty && registerForm.name.$error.required">Name is
                required
            </div>
        </div>
    </div>
    <div class="row form-group"
         ng-class="{'has-error': !registerForm.firstName.$pristine && !registerForm.firstName.$valid}">
        <div class="col-md-2 control-label">
            First Name<span class="red">*</span>
        </div>
        <div class="col-md-10">
            <input type="text" ng-model="registerModel.firstName" required name="firstName" class="form-control">
            <div class="text-danger" ng-show="registerForm.firstName.$dirty && registerForm.firstName.$error.required">
                First Name is required
            </div>
        </div>
    </div>
    <div class="row form-group"
         ng-class="{'has-error': !registerForm.lastName.$pristine && !registerForm.lastName.$valid}">
        <div class="col-md-2 control-label">
            Last Name<span class="red">*</span>
        </div>
        <div class="col-md-10">
            <input type="text" ng-model="registerModel.lastName" required name="lastName" class="form-control">
            <div class="text-danger" ng-show="registerForm.lastName.$dirty && registerForm.lastName.$error.required">
                Last Name is required
            </div>
        </div>
    </div>
    <div class="row form-group" ng-class="{'has-error': !registerForm.email.$pristine && !registerForm.email.$valid}">
        <div class="col-md-2 control-label">
            Email<span class="red">*</span>
        </div>
        <div class="col-md-10">
            <input type="email" ng-model="registerModel.email" required name="email" class="form-control">
            <div class="text-danger" ng-show="registerForm.email.$dirty && registerForm.email.$error.email">Email is
                invalid
            </div>
            <div class="text-danger" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">Email is
                required
            </div>
        </div>
    </div>
    <div class="row form-group"
         ng-class="{'has-error': !registerForm.password.$pristine && !registerForm.password.$valid}">
        <div class="col-md-2 control-label">
            Password<span class="red">*</span>
        </div>
        <div class="col-md-10">
            <input type="password" ng-model="registerModel.password" name="password" required class="form-control">
            <div class="text-danger" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">
                Password is required
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-primary btn-block" type="submit" ng-click="register()"
                    ng-disabled="registerForm.$invalid">
                Register
            </button>
        </div>
        <div class="col-md-12 register-link">
            Already have account? <a href="/#/pages/signin">Signin</a>.
        </div>
    </div>
</form>
</div>